.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* .vl {
  border-left: 1px solid grey;
  height: 30px;
} */
/* .mycontent-left { */
  /* border-right: 2px solid grey; */
/* } */
.content{
  margin-left: 19px;
}
.right{
  margin-left: -9px;
}
.search{
  margin-right: 10px;
}
.abc{
  border-left: 1px solid grey;
  height: 39px;
  top: 8px;
}
input {
  background-color: transparent;
  border: 0px solid;
  /* height: 20px;
  width: 160px;
  color: #CCC; */
}